
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Function to check if the user is an admin
    function isAdmin() {
      return request.auth.token.email in ['ahamedamansoor@gmail.com', 'ahamedamansoor.dev@gmail.com', 'tech.vishnukumar@gmail.com'];
    }

    // Function to check if the user is the owner of the document
    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    match /users/{userId} {
      // Admins can read, update, and delete any user document.
      // Users can read, update, and delete their own document.
      allow get, update, delete: if isAdmin() || isOwner(userId);

      // Any authenticated user can create their own user document.
      allow create: if isOwner(userId);

      // Admins can list all users.
      allow list: if isAdmin();

      // A user can perform any action on their own subcollections.
      // Admins can also perform any action on any user's subcollections.
      match /{allSubcollections}/{docId} {
        allow read, write: if isAdmin() || isOwner(userId);
      }
    }
  }
}
